<h1>Agents#index</h1>
<p>Find me in app/views/agents/index.html.erb</p>
<div class="jumbotron">
<!-- <div class="row" -->
<% @agents.each do |agent| %>
	<ul class="list-group panel panel-success">
	  <li class="list-group-item panel-heading">
	   <div class="panel-title">	
	 	Name: <%=link_to agent.first_name, agent %>
	   </div>
	  </li>
	<li class="list-group-item"> First Name: <%= agent.first_name %> </li>
	<li class="list-group-item"> Last Name: <%= agent.last_name %> </li>
		<li class="list-group-item"> Email: <%= agent.email %> </li>
	</li>
	</ul>
	<%= link_to 'Edit',
		edit_agent_path(agent) %>
	<%= link_to 'Delete', agent, method: :delete, data: { confirm: 'Are you sure?' } %>

<br />

<% end %>


<%= link_to 'New Agent', new_agent_path, class: "button" %>