<!-- <h1>Agents#show</h1>
<p>Find me in app/views/agents/show.html.erb</p> -->
<h1> Agent Profile </h1>
<strong> Name: <%= @agent.full_name %></strong> 
</br>
<strong> Email: <%= @agent.email %> </strong> 
</br>
<% if current_user == @agent %>
<%= link_to 'Edit Agent', edit_agent_path %>
<%end%>
</br>
<%= link_to 'Add Open House', new_location_path(token: @agent.token) %>
</br>
<%= link_to 'Delete this Agent', @agent, method: :delete, data: {
	confirm: "Are you sure you want to delete?"} %>
 </br>
<%= link_to 'Back to list', agents_path %>

<% @agent.locations.each do |location| %>
</br>
</br>
 <span class="glyphicon glyphicon-star">
Address of Open House: <h4><%= location.address %> </h4>

</span>
</br

<h5><%= location.zip_code %> </h5>
<h5><%= location.owner %> </h5>


<% end %>



